.App {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #e3e3e3;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1920" height="1080" viewBox="0 0 1920 1080" fill="none"><rect width="1920" height="1080" fill="%23D9D9D9"/><path d="M1920 0V579.389L1292.5 932.5L1109.5 456L1920 0Z" fill="%23B4E6D2"/><path d="M1030.84 1080L973 887L577.5 887L510 1080H192L246.5 941.5L1920 0L1920 579.5L1030.84 1080Z" fill="%2305AC6A" fill-opacity="0.15"/><path d="M934.453 0L1349.07 1080H1030.88L973.022 887.143H577.69L510.194 1080H192L616.259 0H934.453Z" fill="%2305AC6A" fill-opacity="0.3"/></svg>');
    background-size: 100% auto;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.player {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 6px 120px 6px 12px;
    width: 100%;
    max-width: 440px;
    transition: all 0.2s ease;
    display: flex;
    position: relative;

    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="215" height="193" viewBox="0 0 215 193" fill="none"><path d="M137.958 0L215 193H155.875L145.125 158.536H71.6667L59.125 193H0L78.8333 0H137.958Z" fill="%2305AC6A" fill-opacity="0.15"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.player__active {
    background-color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.player__is-loaded {
    background-color: #d9d9d9;
    box-shadow: 0px 0px 8px 2px #1c274c;
}

.player__control {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.player__control__play-button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(5, 172, 106, 0.3);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M38.2828 10.0001C41.8194 13.6076 44 18.5491 44 24C44 29.5156 41.7672 34.5098 38.1564 38.128M10 38.283C6.29728 34.653 4 29.5948 4 24C4 18.47 6.24444 13.4641 9.87206 9.84375" stroke="%231C274C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M32.5698 16.0879C34.6916 18.1175 36 20.8976 36 23.9644C36 27.0676 34.6604 29.8772 32.4938 31.9128M15.6 32C13.3784 29.9578 12 27.112 12 23.9644C12 20.8532 13.3467 18.0369 15.5232 16" stroke="%231C274C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M27.3126 20.9022C29.1042 22.2176 30 22.8752 30 24C30 25.1248 29.1042 25.7824 27.3126 27.0978C26.8182 27.4608 26.3276 27.8028 25.8768 28.0876C25.4814 28.3376 25.0336 28.596 24.5698 28.8498C22.7826 29.828 21.8888 30.3172 21.0874 29.7756C20.2858 29.234 20.213 28.1004 20.0674 25.8332C20.0262 25.192 20 24.5634 20 24C20 23.4366 20.0262 22.808 20.0674 22.1668C20.213 19.8995 20.2858 18.7659 21.0874 18.2244C21.8888 17.6829 22.7826 18.172 24.5698 19.1502C25.0336 19.404 25.4814 19.6625 25.8768 19.9124C26.3276 20.1972 26.8182 20.5392 27.3126 20.9022Z" fill="%231C274C" stroke="%231C274C" stroke-width="2"/></svg>');
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}

.player__control__play-button__inactive {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(5, 172, 106, 0.3);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="45" height="48" viewBox="0 0 45 48" fill="none"><path d="M35.4849 10.5857C38.7303 14.0701 40.7314 18.843 40.7314 24.1078C40.7314 29.4352 38.6824 34.2589 35.3689 37.7536M9.53036 37.9034C6.13246 34.3972 4.02429 29.5117 4.02429 24.1078C4.02429 18.7666 6.08397 13.9316 9.41296 10.4347" stroke="%23253053" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M30.2421 16.4658C32.1892 18.4261 33.3899 21.1113 33.3899 24.0734C33.3899 27.0707 32.1606 29.7844 30.1723 31.7506M14.6692 31.8348C12.6305 29.8623 11.3656 27.1136 11.3656 24.0734C11.3656 21.0684 12.6014 18.3482 14.5988 16.3809" stroke="%23253053" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M25.4176 21.1158C27.0618 22.3863 27.8838 23.0214 27.8838 24.1078C27.8838 25.1942 27.0618 25.8294 25.4176 27.0999C24.9639 27.4505 24.5137 27.7808 24.1 28.0559C23.7372 28.2974 23.3263 28.547 22.9006 28.7921C21.2606 29.7369 20.4403 30.2094 19.7049 29.6863C18.9693 29.1632 18.9025 28.0683 18.7689 25.8785C18.7311 25.2591 18.707 24.652 18.707 24.1078C18.707 23.5637 18.7311 22.9565 18.7689 22.3372C18.9025 20.1473 18.9693 19.0524 19.7049 18.5293C20.4403 18.0063 21.2606 18.4787 22.9006 19.4235C23.3263 19.6687 23.7372 19.9183 24.1 20.1597C24.5137 20.4348 24.9639 20.7651 25.4176 21.1158Z" stroke="%23253053" stroke-width="2"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
}

.player__control__play-button:hover {
    background-color: rgba(5, 172, 106, 0.5);
}

.player__control__pause-button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: rgba(5, 172, 106, 0.3);
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48" fill="none"><path d="M38.2828 10.0001C41.8194 13.6076 44 18.5491 44 24C44 29.5156 41.7672 34.5098 38.1564 38.128M10 38.283C6.29728 34.653 4 29.5948 4 24C4 18.47 6.24444 13.4641 9.87206 9.84375" stroke="%231C274C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M32.5698 16.0879C34.6916 18.1175 36 20.8976 36 23.9644C36 27.0676 34.6604 29.8772 32.4938 31.9128M15.6 32C13.3784 29.9578 12 27.112 12 23.9644C12 20.8532 13.3467 18.0369 15.5232 16" stroke="%231C274C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><rect x="20" y="19" width="3" height="10" rx="1.5" fill="%231C274C"/><rect x="26" y="19" width="3" height="10" rx="1.5" fill="%231C274C"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.2s ease;
}

.player__control__pause-button:hover {
    background-color: rgba(5, 172, 106, 0.5);
}

.player__control__prev-button,
.player__control__next-button {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: rgba(5, 172, 106, 0.3);
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}

.player__control__prev-button:hover,
.player__control__next-button:hover {
    background-color: rgba(5, 172, 106, 0.5);
}

.player__control__prev-button {
    background-position: calc(50% - 2px) center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M17.3335 20.3088L25.4624 26.2555C27.1991 27.4517 29.3332 25.8948 29.3332 23.4316V20M17.3335 11.6913L25.4624 5.74452C27.1991 4.5483 29.3332 6.10526 29.3332 8.56842V14.6667" stroke="%231C274C" stroke-width="2" stroke-linecap="round"/><path d="M8.84019 10.2777L13.7852 7.02643C15.377 5.97975 17.3334 7.3421 17.3334 9.49736V22.5027C17.3334 24.6579 15.377 26.0203 13.7852 24.9736L3.89522 18.4709C2.25726 17.394 2.25726 14.606 3.89523 13.5291L5.13147 12.7162" stroke="%231C274C" stroke-width="2" stroke-linecap="round"/></svg>');
}

.player__control__next-button {
    background-position: calc(50% + 2px) center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none"><path d="M14.6665 11.6912L6.53757 5.74454C4.8009 4.54827 2.66677 6.1052 2.66677 8.5684V12M14.6665 20.3088L6.53757 26.2555C4.8009 27.4517 2.66677 25.8948 2.66677 23.4316L2.66677 17.3333" stroke="%231C274C" stroke-width="2" stroke-linecap="round"/><path d="M23.1598 21.7222L18.2148 24.9736C16.623 26.0202 14.6666 24.6579 14.6666 22.5026L14.6666 9.49733C14.6666 7.34213 16.623 5.97973 18.2148 7.0264L28.1048 13.5291C29.7427 14.606 29.7427 17.394 28.1048 18.4709L26.8685 19.2837" stroke="%231C274C" stroke-width="2" stroke-linecap="round"/></svg>');
}

.player__container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 8px;
}

.player__volume-control {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    margin-top: 14px;
}

.player__volume-control__container {
    position: relative;
    width: 100%;
    max-width: 260px;
    height: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.player__volume-control__container__active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    background-color: transparent;
}

.player__volume-control__bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translate(0, -50%);

    background-color: #c5c6c5;
}

.player__volume-control__bar__value {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 2px;
    transform: translate(0, -50%);

    background-color: #05ac6a;
}

.player__volume-control__pin {
    position: absolute;
    top: 50%;
    left: 0;
    width: 10px;
    height: 10px;
    margin-left: -5px;
    margin-top: -5px;

    border-radius: 50%;
    background-color: #05ac6a;
    transition: width 0.2s ease, height 0.2s ease, margin 0.2s ease;
    cursor: grab;
}

.player__volume-control__pin:hover {
    width: 12px;
    height: 12px;
    margin-left: -6px;
    margin-top: -6px;
}

.player__song-title {
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.player__progress-control {
    position: relative;
    width: 100%;
    height: 10px;
    cursor: pointer;
    margin-bottom: 26px;
}

.player__progress-control__bar {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    translate: translate(0, -50%);

    background-color: #c5c6c5;
}

.player__progress-control__bar__value {
    position: absolute;
    top: 50%;
    left: 0;
    width: 50%;
    height: 4px;
    max-width: 100%;
    translate: translate(0, -50%);

    background-color: #05ac6a;
}

.player__progress-control__active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    background-color: transparent;
}

.player__cover {
    position: absolute;
    right: 0%;
    top: 50%;

    transform: translate(50%, -50%);

    width: 260px;
    height: 260px;
    border-radius: 50%;
    background-color: #c5c6c5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.player__cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    animation: spin 20s linear infinite;
    animation-play-state: paused;
}

.player__cover__play img {
    animation-play-state: running;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
